

header {
  min-height: 100px;
  width: 100%;
  height: 10vh;
  border-bottom: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;

}


header a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 50px;
}

main {
  width: 100vw;
  min-height: 500px;
  height: 87vh;
  /* border: 1px solid black; */
}


.main-navs {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid black;
  list-style: none;
  gap: 10%;
}

.main-navs a {
  text-decoration: none;
  color: black;
  height: 100%;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
}

.display-wrapper {
  height: calc(100% - 50px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.classes-container {
  height: 80%;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 25%); 
  gap: 12.5%;
}

.class-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .classes-container {
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
    .class-card {
      height: 15%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
     }
}


























footer {
  width: 100vw;
  height: 3vh;
  min-height: 20px;
  border-top: 1px solid black;
}
